/* i selettori seguono l'ordine della pagina html */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 1080px;
    height: 100%;
    margin: auto;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* selettori header */
header {
    background-color: #0d325a ;
}

#logo {
    width: 15%;
    float: left;
}

nav {
    width: 50%;
    float: left;
}

.cta-container {
    width: 35%;
    float: left;
}

#logo img {
    padding-top: 12%;
}

#header-top li {
    list-style-type: none;
    float: left;
}

#header-top li a {
    color:white;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 80px;
    padding: 0 8px;
    font-weight: 700;
    font-size: 12px;
}

#header-top li a:hover {
    color:orange;
}

.button {
    padding: 6px;
    border: 1px solid #4e8cb6;
    border-radius: 5px;
    margin: 0 4px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.7);
}

.special-button {
    background-color: #7fb802
}

.cta-container a {
    text-decoration: none;
    line-height: 80px;
    text-transform: uppercase;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}

#header-bottom {
    height: 420px;
    background-image: url(img/business-men.png);
    background-position: right;
    background-size: contain;
    background-repeat: no-repeat;
}

#header-bottom .container {
    position: relative;
}

.jumbotron {
    width: 50%;
    position: absolute;
    top: 25%;
    color: white;
}

.jumbotron h1 {
    font-weight: normal;
    font-size: 37px;
}

.jumbotron a {
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 15px;
}

/* selettori info-corso */
#info-corso {
    padding: 30px;
    text-align: center;
    padding: 30px 0;
    background-color: rgba(10, 10, 10, 0.1);
}


#info-corso h2 {
    color: rgba(0,0,0,0.9);
    font-weight: 100;
    font-size: 22px;
}

#info-corso p {
    color: rgba(0, 0, 0, 0.5);
    padding-top: 5px;
    font-size: 18px;
}

/* selettori offerta formativa */
#offerta-formativa {
    margin-top: 50px;
}

.box {
    width: calc(33.33% - 10px);
    text-align: center;
    float: left;
    margin: 5px;
    padding: 15px 0;
}

.box img {
    height: 130px;
}

.box h2 {
    color: #7fb802;
    font-weight: 200;
    margin: 20px auto;
    font-size: 20px;
    width: 300px;
    height: 50px;
    text-align: center;
}

.box hr {
    width: 10%;
    margin: auto;
}

.box p {
    margin-top: 20px;
    color: rgba(0, 0, 0, 0.5);
    line-height:25px;
    font-size: 16px;
}
